@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #212837;
  /*background: url('');
background-size: cover;
background-position: center;*/
}

.header {
  position: fixed;
  background-color: #212837;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  animation: opacity .9s;
}

@keyframes opacity {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.navbar .home {
  color: #5290b0;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.15px;
}

.navbar a:hover {
  color: #5290b0;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.15px;
  transition: .5s ease;
}

/* MAIN */

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 100px;
  margin: auto;
  height: 600px;
  width: 1450px;
  /* border: 2px solid#fff; */
}

.left-section {
  height: 600px;
  width: 700px;
  animation: scale .9s;
  /* border: 2px solid red; */
}

.left-section .heading h1 {
  position: absolute;
  top: 50px;
  left: 70px;
  font-size: 90px;
  line-height: 100px;
  color: #fff;
  -webkit-text-stroke-color: #5290b0;
  -webkit-text-stroke-width: 3.5px;
}

.left-section .heading-description h2 {
  position: absolute;
  top: 250px;
  left: 75px;
  color: #5290b0;
  font-size: 32px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
}

.left-section .heading-text p {
  position: absolute;
  left: 75px;
  width: 400px;
  top: 300px;
  color: #fff;
  font-size: 15px;
}

.hr {
  position: absolute;
  left: 75px;
  top: 380px;
  background-color: #fff;
  width: 400px;
  height: 3px;
}

.download-btn {
  position: absolute;
  left: 75px;
  font-weight: bold;
  bottom: 160px;
  width: 150px;
  height: 40px;
  background-color: #212837;
  border: 8px double #fff;
  color: #fff;
}

.download-btn:hover {
  background-color: #fff;
  color: #212837;
  border: 8px double #212837;
  transition: .4s ease;
}

.right-section {
  position: relative;
  height: 600px;
  width: 700px;
  animation: scale .9s;
  /* border: 2px solid skyblue; */
}

.right-section .nonagon {
  position: absolute;
  top: 250px;
  left: 350px;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  background-color: #5290b0;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1.0);
  }
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }

  .download-btn {
    left: 40%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: #212837;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .3s ease;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: .3s ease;
  }

  #check:checked~.navbar {
    height: 17.7rem;
  }

  #check:checked~.navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(.15s * var(--i));
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    overflow: hidden;
  }

  .left-section {
    position: relative;
    width: 100%;
    align-items: center;
  }

  .left-section .heading {
    position: absolute;
    height: 150px;
    width: 100%;
  }

  .left-section .heading h1 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    width: 100%;
  }

  .left-section .heading-description {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .left-section .heading-description h2 {
    left: 0;
    top: 150px;
    font-size: 20px;
    width: 100%;
  }

  .left-section .heading-text p {
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 10px;
    top: 190px;
  }
  .left-section .download-btn {
    position: absolute;
    text-align: center;
    left: 25%;
    top: 240px;
  }

  .left-section .hr {
    display: none;
  }

  .btn-div {
    position: relative;
    height: 60px;
    top: 230px;
    width: 100%;
  }

  .btn-div .download-btn {
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 0;
    left: 40%;
  }

  .right-section {
    width: 100%;
  }

  .right-section .nonagon {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 426px) {
  .btn-div .download-btn {
    left: 33%;
  }
}

@media (max-width: 376px) {
  .btn-div .download-btn {
    left: 30%;
  }
}

@media (max-width: 320px) {
  .btn-div .download-btn {
    left: 26%;
  }
}

